In [1]:
#Install mlxtend if not already installed
#!pip install mlxtend

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from mlxtend.feature_selection import SequentialFeatureSelector
from sklearn.metrics import mean_squared_error

In [3]:
dataset1=pd.read_csv("House_Prediction.csv",index_col=None)

In [4]:
df2=dataset1

df2 = pd.get_dummies(df2, drop_first=True)

In [5]:
df2

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,...,statezip_WA 98155,statezip_WA 98166,statezip_WA 98168,statezip_WA 98177,statezip_WA 98178,statezip_WA 98188,statezip_WA 98198,statezip_WA 98199,statezip_WA 98288,statezip_WA 98354
0,3.130000e+05,3,1.50,1340,7912,1.5,0,0,3,1340,...,0,0,0,0,0,0,0,0,0,0
1,2.384000e+06,5,2.50,3650,9050,2.0,0,4,5,3370,...,0,0,0,0,0,0,0,0,0,0
2,3.420000e+05,3,2.00,1930,11947,1.0,0,0,4,1930,...,0,0,0,0,0,0,0,0,0,0
3,4.200000e+05,3,2.25,2000,8030,1.0,0,0,4,1000,...,0,0,0,0,0,0,0,0,0,0
4,5.500000e+05,4,2.50,1940,10500,1.0,0,0,4,1140,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,3.081667e+05,3,1.75,1510,6360,1.0,0,0,4,1510,...,0,0,0,0,0,0,0,0,0,0
4596,5.343333e+05,3,2.50,1460,7573,2.0,0,0,3,1460,...,0,0,0,0,0,0,0,0,0,0
4597,4.169042e+05,3,2.50,3010,7014,2.0,0,0,3,3010,...,0,0,0,0,0,0,0,0,0,0
4598,2.034000e+05,4,2.00,2090,6630,1.0,0,0,3,1070,...,0,0,0,0,1,0,0,0,0,0
4599,2.206000e+05,3,2.50,1490,8102,2.0,0,0,4,1490,...,0,0,0,0,0,0,0,0,0,0

In [6]:
df2.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,...,statezip_WA 98155,statezip_WA 98166,statezip_WA 98168,statezip_WA 98177,statezip_WA 98178,statezip_WA 98188,statezip_WA 98198,statezip_WA 98199,statezip_WA 98288,statezip_WA 98354
0,313000.0,3,1.50,1340,7912,1.5,0,0,3,1340,...,0,0,0,0,0,0,0,0,0,0
1,2384000.0,5,2.50,3650,9050,2.0,0,4,5,3370,...,0,0,0,0,0,0,0,0,0,0
2,342000.0,3,2.00,1930,11947,1.0,0,0,4,1930,...,0,0,0,0,0,0,0,0,0,0
3,420000.0,3,2.25,2000,8030,1.0,0,0,4,1000,...,0,0,0,0,0,0,0,0,0,0
4,550000.0,4,2.50,1940,10500,1.0,0,0,4,1140,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df2.tail()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,...,statezip_WA 98155,statezip_WA 98166,statezip_WA 98168,statezip_WA 98177,statezip_WA 98178,statezip_WA 98188,statezip_WA 98198,statezip_WA 98199,statezip_WA 98288,statezip_WA 98354
4595,308166.6667,3,1.75,1510,6360,1.0,0,0,4,1510,...,0,0,0,0,0,0,0,0,0,0
4596,534333.3333,3,2.50,1460,7573,2.0,0,0,3,1460,...,0,0,0,0,0,0,0,0,0,0
4597,416904.1667,3,2.50,3010,7014,2.0,0,0,3,3010,...,0,0,0,0,0,0,0,0,0,0
4598,203400.0000,4,2.00,2090,6630,1.0,0,0,3,1070,...,0,0,0,0,1,0,0,0,0,0
4599,220600.0000,3,2.50,1490,8102,2.0,0,0,4,1490,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df2.shape

(4600, 4656)

In [9]:
df2.isnull().sum()

price                0
bedrooms             0
bathrooms            0
sqft_living          0
sqft_lot             0
                    ..
statezip_WA 98188    0
statezip_WA 98198    0
statezip_WA 98199    0
statezip_WA 98288    0
statezip_WA 98354    0
Length: 4656, dtype: int64

In [10]:
indep_X=df2.drop('price', axis=1)#drop output column separately using drop_function
dep_Y=df2['price']

In [11]:
indep_X

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,...,statezip_WA 98155,statezip_WA 98166,statezip_WA 98168,statezip_WA 98177,statezip_WA 98178,statezip_WA 98188,statezip_WA 98198,statezip_WA 98199,statezip_WA 98288,statezip_WA 98354
0,3,1.50,1340,7912,1.5,0,0,3,1340,0,...,0,0,0,0,0,0,0,0,0,0
1,5,2.50,3650,9050,2.0,0,4,5,3370,280,...,0,0,0,0,0,0,0,0,0,0
2,3,2.00,1930,11947,1.0,0,0,4,1930,0,...,0,0,0,0,0,0,0,0,0,0
3,3,2.25,2000,8030,1.0,0,0,4,1000,1000,...,0,0,0,0,0,0,0,0,0,0
4,4,2.50,1940,10500,1.0,0,0,4,1140,800,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,3,1.75,1510,6360,1.0,0,0,4,1510,0,...,0,0,0,0,0,0,0,0,0,0
4596,3,2.50,1460,7573,2.0,0,0,3,1460,0,...,0,0,0,0,0,0,0,0,0,0
4597,3,2.50,3010,7014,2.0,0,0,3,3010,0,...,0,0,0,0,0,0,0,0,0,0
4598,4,2.00,2090,6630,1.0,0,0,3,1070,1020,...,0,0,0,0,1,0,0,0,0,0
4599,3,2.50,1490,8102,2.0,0,0,4,1490,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
dep_Y

0       3.130000e+05
1       2.384000e+06
2       3.420000e+05
3       4.200000e+05
4       5.500000e+05
            ...
4595    3.081667e+05
4596    5.343333e+05
4597    4.169042e+05
4598    2.034000e+05
4599    2.206000e+05
Name: price, Length: 4600, dtype: float64

In [13]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(indep_X, dep_Y, test_size=0.2, random_state=42)

In [14]:
# Initialize regression models
regressors = {
    'Decision Tree': DecisionTreeRegressor(random_state=42),
    'Random Forest': RandomForestRegressor(n_estimators=100, random_state=42),
    'Linear Regression': LinearRegression(),
    'SVM Linear': SVR(kernel='linear'),
    'SVM Non-linear': SVR(kernel='rbf')
}

In [ ]:
# Perform feature selection and regression for each algorithm
for algorithm, regressor in regressors.items():
    # Initialize SequentialFeatureSelector with forward selection
    sfs = SequentialFeatureSelector(regressor, k_features='best', forward=True, scoring='neg_mean_squared_error', cv=5)

    # Fit the SequentialFeatureSelector to the training data
    forward_feature_selection=sfs.fit(X_train, y_train)

In [ ]:
# selected indexes after the sfs.fit executed ,use this code to see the indexes
    selected_features_idx = list(forward_feature_selection.k_feature_idx_)

In [ ]:
# Get the selected features(after the model fit using this below code to see the selected features)
    selected_features = list(forward_feature_selection.k_feature_names_)

In [ ]:
# Get the the final mse score
selected_features_score = list(forward_feature_selection.k_score_)

In [ ]:
# in this dataframe to call dictionary_method(pd.datframe.from_dict after we pass the below agrument/paramenter in the dic function()then we cal transpose-T )
results=pd.DataFrame.from_dict(forward_feature_selection.get_metric_dict()).T

In [ ]:
results[["feature_idx","mean_squared_error"]]

In [ ]:
#Install mlxtend if not already installed
#!pip install mlxten

In [ ]:
# Plot the results
plt.figure(figsize=(10, 6))
plt.bar(forward_feature_selection.get_metric_dict())
plt.title('Feature_selction')
plt.grid()
plt.show()